#calcBody{
    background-color: rgb(75, 70, 70);
    position: absolute;
    left: 40%;
    top: 7%;
    width: 308px;
    height: 500px;
    border: solid rgb(201, 162, 103) 1px;
}

#displayScreen{
    background-color:rgb(75, 70, 70);
    width: 290px;
    height: 150px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
    border: solid rgb(201, 162, 103) 1px;
}
#displayText{
    background-color: rgb(75, 70, 70); 
    width: 290px;
    height:50px;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin-top: 50px;
}

#historyScreen{
    background-color:  rgb(75, 70, 70);
    width: 290px;
    height:50px;
}
#inputs{
    background-color: rgb(75, 70, 70);
    width: 300px;
    height:315px;
    margin-left: 4px;
}

.oprButton {
    float: left;
    background-color: rgb(201, 162, 103);
    width: 67px;
    height:57px;
    margin: 4px;
    text-align: center;
    font:50;
}

.numButton {
    float: left;
    background-color: rgb(101, 151, 63);
    width: 67px;
    height:57px;
    margin: 4px;
    text-align: center;
}

.oprButton:hover{
    background-color: rgb(121, 92, 49);
}
.numButton:hover{
    background-color: rgb(44, 71, 23);
}
/*
#longPlus{
    float: left;
    background-color: rgb(65, 58, 58);
    width: 67px;
    height:122px;
    margin: 4px;
    text-align: center;
}
#longEquals{
    float: left;
    background-color: rgb(65, 58, 58);
    width: 67px;
    height:122px;
    margin: 4px;
    text-align: center;
}
